<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>Want Ranking</h1>
      <%= link_to 'Haveを見る' , have_rankings_path , class: "btn btn-success btn-lg" %>
      <%= link_to 'Wantを見る' , want_rankings_path , class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'rankings/list' , items: @items %>